body{
  margin: 0;
  padding: 0;
  background-color: white;
  max-width: none;
}

footer{
  margin-top: 100px;
}

header{
  top: 0;
  position: fixed;
  width: 100%;

  z-index: 2;

  background-color: #ddd;

  font-family: sans-serif;
  font-weight: bold;
  color: #333;
}

.header-container{
  overflow: hidden;
  width: 100%;
  top: 0;

  z-index: 2;

  background-color: #ddd;

  font-family: sans-serif;
  font-weight: bold;
  color: #333;

}

.header-container a{
  float: left;
  text-decoration: none;
  font-size: 20px;
  color: #333;
  text-align: center;
  padding: 14px 16px;

}

.header-units-dropdown{
  float: left;
  overflow: hidden;
}

.header-units-dropdown .header-units-dropbtn{
  font-size: 20px;
  border: none;
  outline: none;
  color: #333;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.header-container a:hover, .header-units-dropdown:hover .header-units-dropbtn {
  background-color: #bbb;
}

.header-units-dropdown-content{
  border: none;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0, rgba(0,0,0,0.2));
  z-index: 2;
}

.header-units-dropdown-content a{
  border: none;
  float: none;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  text-align: left;


  background-color: #bbb;
  font-size: 15px;
}

.header-units-dropdown-content a:hover {
  background-color: #222;
  color: #ddd;
}

.header-units-dropdown:hover .header-units-dropdown-content{
  display: block;
}

.home-unit-title-text{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

aside{
  font-family: sans-serif;
  background-color: #b9d8f0;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 15px;
  font-family: sans-serif;
  overflow: hidden;
  text-align: center;
}
h1:before,
h1:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}

h2{
  margin-bottom: 20px;
  margin-top: 90px;
  font-weight: bold;
  color: #333;
  font-size: 33px;
}



a:visited{
  color: #333;
}

.home-unit-title-container{
  padding: 8px;
  padding-left: 20px;
  font-size: 15px;
  text-decoration: none;

  font-family: sans-serif;
}

.unit-blurb{
  font-family: sans-serif;
  background-color: #e0d7e4;

  margin: 30px;
  border-radius: 10px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.unit-blurb h3{
  color: #704084;
  margin-top: 10px;
  font-weight: bolder;
}

h3{
  font-weight: normal;
}

.equations-blurb{
  background-color: #dfe5cf;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  width: 250px;
  font-family: sans-serif;
}

.equations-blurb h3{
  color: #468c5e;
  margin-top: 10px;
  font-weight: bold;
}

.equations-blurb ul{
  list-style-type: none;
}

.unit-main{
  font-family: sans-serif;
  margin-left: 200px;
  margin-right: 200px;
}

table{
  border: none;
}

td, th {
  border: 1px solid #eee;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eee;
}
